.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    height: 10vh;
    margin-top: 10px;
}

.header-title {
    margin-left: 15px;
    display: flex;
    align-items: center;
    img {
        width: 100px;
        padding-bottom: 15px;
    }
}

.header-title:hover {
    cursor: pointer;
}

.login {
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    margin-right: 25px;
    font-size: 25px;
}

.login:hover {
    text-decoration: underline;
}

@media screen and (min-width: 700px) {
    .header {
        padding: 0px 40px 0px 40px;
        overflow: hidden;
    }
    .header-title {
        float: left;        
        img {
            width: 100px;
        }
    }
    .login {
        float: right;
    }
}