.header {
    background-color: rgb(97, 0, 0);
    color: white;
    display: flex;
    height: 9vh;
    justify-content: space-between;
    padding: 1vh 0vh 1vh 0vh;
}

.header-title {
    margin-left: 15px;
    img {
        width: 100px;
    }
}

.login {
    align-items: center;
    display: flex;
    font-size: 25px;
    margin-right: 25px;
}

@media screen and (min-width: 700px) {
    .header-title {
        cursor: pointer;
    }

    .login {
        cursor: pointer;
    }
    .login:hover {
        text-decoration: underline;
    }
}