.single-prod {
    display: flex;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    border-radius: 3px;
}

.single-prod-img {
    img {
        width: 40vw;
        cursor: pointer;
    }
}

.single-prod-data {
    display: flex;
    flex-direction: column;
    p {
        font-weight: bold;
    }
    a {
        cursor: pointer;
    }
}

@media screen and (min-width: 700px) {
    .single-prod-img {
        img {
            margin: 5px;
            width: 15vw;
        }
    }
}