.single-prod {
    font-size: 6vw;
    position: relative;
    width: 90vw;
    border-radius: 5px;
    background: #3b000085;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.single-prod::before {
    background: #ffffff3b;
    content: "";
    height: 110%;
    position: absolute;
    top: -25%;
    transform: skewY(345deg);
    width: 100%;
}

.single-prod-img {
    justify-content: center;
    padding-top: 20px;
    position: relative;
}

.single-prod-img {
    width: 45%;
    img {
        max-width: 100%;
        transition: .5s;
    }
}

.single-prod-data {
    color: white;
    flex-direction: column;
    padding: 20px;
    z-index: 2;
}

.single-prod-data {
   h3 {
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    } 
}


.price {
    letter-spacing: 1px;
}

.buy {
    background: #ffe88c;
    border-radius: 20px;
    color: #000000;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 6px;
    text-transform: uppercase;
    transition: 0.5s;
}

.product-actions {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}


@media screen and (min-width: 700px) {
    .single-prod {
        flex-direction: column;
        font-size: 22px;
        height: fit-content;
        width: 15vw;
    }

    .single-prod::before {
        top: -70%;
        transform: skewY(345deg);
        transition: 0.5s;
    }
    
    .single-prod:hover::before {
        transform: skewY(390deg);
    }
    
    .single-prod-img {
        align-items: center;
        display: flex;
        width: 100%;
    }
    
    .single-prod:hover .single-prod-img {
        img {
            max-width: 110%;
        }
    }
    
    .single-prod-data {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .single-prod .single-prod-data .price {
        font-weight: 700;
        letter-spacing: 1px;
    }
    
    .single-prod .single-prod-data .buy {
        background: #ffe88c;
        border-radius: 30px;
        color: #000000;
        letter-spacing: 1px;
        margin-top: 15px;
        padding: 10px 30px;
        position: relative;
        text-transform: uppercase;
        top: 150px;
        transition: 0.5s;
    }
    
    .single-prod:hover .single-prod-data .buy {
        cursor: pointer;
        opacity: 1;
        top: 0;
    }

    .single-prod .single-prod-data .buy:hover {
        background-color: rgb(221, 162, 80);
    }

    .content {
        display: flex;
        flex-direction: column;
    }
}