.single-prod {
    font-size: 6vw;
    position: relative;
    width: 90vw;
    border-radius: 5px;
    background: #ffffff3b;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.single-prod::before {
    content: "";
    position: absolute;
    top: -25%;
    width: 100%;
    height: 110%;
    background: #3b000085;
    transform: skewY(345deg);
    transition: 0.5s;
}

.single-prod-img {
    position: relative;
    justify-content: center;
    padding-top: 20px;
}

.single-prod-img {
    width: 45%;
    img {
        max-width: 100%;
        transition: .5s;
    }
}

.single-prod-data {
    padding: 20px;
    flex-direction: column;
    z-index: 2;
    color: white;
}

.single-prod-data {
   h3 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    } 
}


.price {
    font-weight: 500;
    letter-spacing: 1px;
}

.buy {
    font-size: 15px;
    font-weight: bolder;
    padding: 6px;
    color: #000000;
    background: #ffe88c;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

@media screen and (min-width: 700px) {
    .single-prod {
        font-size: 25px;
        position: relative;
        width: 17vw;
        height: fit-content;
        flex-direction: column;
        border-radius: 5px;
    }
    
    .single-prod::before {
        content: "";
        position: absolute;
        top: -70%;
        background: #3b000085;
        transform: skewY(345deg);
        transition: 0.5s;
    }
    
    .single-prod:hover::before {
        transform: skewY(390deg);
    }
    
    .single-prod-img {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .single-prod:hover .single-prod-img {
        img {
            max-width: 50%;
        }
    }
    
    .single-prod-data {
        position: relative;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }
    
    .single-prod-data {
       h3 {
            font-size: 18px;
            color: white;
        } 
} 
    
    .single-prod .single-prod-data .price {
        font-size: 24px;
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
    }
    
    .single-prod .single-prod-data .buy {
        position: relative;
        top: 100px;
        opacity: 0;
        padding: 10px 30px;
        margin-top: 15px;
        color: #000000;
        text-decoration: none;
        background: #ffe88c;
        border-radius: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.5s;
    }
    
    .single-prod:hover .single-prod-data .buy {
        top: 0;
        opacity: 1;
        cursor: pointer;
    }
}