.details-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.show-product {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    img {
        background-color: rgba(0, 0, 0, 0.096);
        border-radius: 15px;
        width: 95vw;
    }
}

.show-product-data {
    background-color: rgb(48, 0, 0);
    border-radius: 10px;
    color: white;
    font-size: 5vw;
    padding-left: 15px;
    padding: 15px;
    width: 80vw;
    p {
        font-weight: bolder;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px 30px 0px;
}

@media screen and (min-width: 700px) {
    .details-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .show-product{
        width: 45%;
        img {
            width: 95%;
        }
    }
    .show-product-data {
        font-size: 25px;
        width: 45%;
    }
}