@import '../src/styles/Product.scss';
@import '../src/styles/Products.scss';
@import '../src/styles/Header.scss';
@import '../src/styles/LoginForm.scss';
@import '../src/styles/Input.scss';
@import '../src/styles/ProductDetails.scss';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}

.button {
    height: 5vh;
    outline: none;
    border: none;
    font-weight: bolder;
    border-radius: 15px;
    background-color: black;
    color: rgb(255, 255, 255);
}

body {
    background: rgb(169,177,170);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(100, 34, 34) 50%, rgb(117, 0, 0) 100%);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 20px;
    border: 1px solid black;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar:vertical {
    width: 8px;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}